<div class="container-fluid" data-ng-controller="booksController">
    <div class="col-xs-12 padding-top-10 padding-bottom-20">
        <!-- <div class="col-xs-8"> -->
            <span class="dummy-url-first">
                Authors /
            </span>
            <span class="dummy-url-second">
                Details
            </span>
        <!-- </div> -->
    </div>
    <div class="col-xs-8">
        <div class="lib-container">
            <div class="lib-thumb">
                <img src="images/book_icon.svg" />
            </div>
            <div class="lib-content">
                <div>
                    <span class="lib-title">Book title</span>
                    <span class="lib-extras float-right">ISBN - 131246198461289</span>
                </div>
                <div>
                    <span class="book-by">by </span>
                    <span class="book-author"> Philip K. Roy</span>
                </div>
                <div class="col-xs-11 book-full-description">
                    It was afnkla fasfsd ds gsd gsdg ret re tre t ret re t re tre t re t re t ret re t er tertretretet ret re tre tretretreterterterter 
                    It was afnkla fasfsd ds gsd gsdg ret re tre t ret re t re tre t re t re t ret re t er tertretretet ret re tre tretretreterterterter
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 text-center">

        <img class="next-button" src="images/prev_icon.svg">
        <img class="next-button" src="images/next_icon.svg">

        <div class="margin-top-20 next-msg">
            Navigate to Previous / Next Author
        </div>

        <!-- <button class="lib-button" ng-click="showAdvanced($event)">Add Book</button> -->
    </div>
</div>