<div class="container-fluid" data-ng-controller="authorDetailsController">
    <div class="col-xs-12 padding-top-10 padding-bottom-20">
        <span class="dummy-url-first">
                Authors /
            </span>
        <span class="dummy-url-second">
                Details
            </span>
    </div>
    <div class="col-xs-8">
        <div class="lib-container">
            <div class="lib-thumb">
                <img src="images/author_icon.svg" />
            </div>
            <div class="lib-content">
                <div>
                    <span class="lib-title">{{author.name}}</span>
                    <span class="lib-extras float-right">Born in {{author.country}}
                </div>
                <div class="author-details">
                    Age {{author.age}} / {{author.gender}}
                </div>
                <div class="author-full-description ">
                     {{author.about}}
                </div>
                <div class="margin-top-20">
                    <span class="lib-header margin-right-20">BOOKS WRITTEN</span>
                    <span class="book-count">  {{books.length}}</span>
                </div>
                <div class="col-xs-12 author-books-container" ng-repeat="it in books">
                    <div class="lib-thumb">
                        <img src="images/book_icon.svg" />
                    </div>
                    <div class="lib-content padding-left-0">
                        <div class="margin-bottom-20">
                            <span class="lib-title">{{it.name}}</span>
                            <span class="lib-extras float-right">ISBN - {{it.isbn}}</span>
                        </div>
                        <div class="col-xs-10 col-sm-11 book-description ">
                            {{it.description}}
                        </div>
                        <div class="col-xs-2 col-sm-1 more-info">
                            <span ui-sref="app.book-details({id: it.book_id})">More</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 text-center">
        <img class="next-button" src="images/prev_icon.svg" ng-show="prevAuthorId" ui-sref="app.author-details({id: prevAuthorId})">
        <img class="next-button" src="images/next_icon.svg" ng-show="nextAuthorId" ui-sref="app.author-details({id: nextAuthorId})">
        <div class="margin-top-20 next-msg">
            Navigate to Previous / Next Author
        </div>
    </div>
</div>