<div class="padding-30">
    <div class="margin-bottom-30">
        <span class="font-bold">ADD BOOK</span>
        <i class="fa fa-close float-right close-button cursor-pointer" ng-click="cancel()"></i>
    </div>
    <md-input-container class="md-block" flex-gt-sm="">
        <label>Book name</label>
        <input ng-model="book.name">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm="">
        <label>Author</label>
        <md-select ng-model="book.author">
            <md-option ng-repeat="author in authors" value="{{author}}">
                {{author}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="md-block margin-top-50" flex-gt-sm="">
        <label>ISBN Number</label>
        <input ng-model="book.isbn">
    </md-input-container>
    <md-input-container class="md-block">
        <label>Description of content</label>
        <textarea ng-model="user.biography" md-maxlength="300" rows="3" md-select-on-focus=""></textarea>
    </md-input-container>
    <div>
        <button class="lib-button-cancel float-left" ng-click="cancel()">Cancel</button>
        <button class="lib-button float-right" ng-click="cancel()">Save book</button>
    </div>
</div>