<div class="container-fluid" data-ng-controller="bookDetailsController">
    <div class="col-xs-12 padding-top-10 padding-bottom-20">
        <span class="dummy-url-first">
                Books /
            </span>
        <span class="dummy-url-second">
                Details
            </span>
    </div>
    <div class="col-xs-8">
        <div class="lib-container">
            <div class="lib-thumb">
                <img src="images/book_icon.svg" />
            </div>
            <div class="lib-content">
                <div>
                    <span class="lib-title">{{book.name}}</span>
                    <span class="lib-extras float-right">ISBN - {{book.isbn}}</span>
                </div>
                <div>
                    <span class="book-by">by </span>
                    <span class="book-author"> {{book.author_name}}</span>
                </div>
                <div class="col-xs-11 book-full-description">
                    {{book.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 text-center">
        <img class="next-button" ng-show="prevBookId" src="images/prev_icon.svg" ui-sref="app.book-details({id: prevBookId})">
        <img class="next-button" ng-show="nextBookId" src="images/next_icon.svg" ui-sref="app.book-details({id: nextBookId})">
        <div class="margin-top-20 next-msg">
            Navigate to Previous / Next Book
        </div>
    </div>
</div>